.about_container {
  margin: 0 1.5em 2.5em 1.5em;
  padding: 0.6em;
  border-radius: 5px;
  background-color: rgba(160, 160, 160, 0.85);
  text-align: justify;
}

.about_container p {
  font-size: 1.3em;
  /*color: white;*/
}
