.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.links-right {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.fa {
  margin: 0.3em;
  color: white;
}

.location-inline {
  display: inline-flex;
}

.location-inline i {
  margin-top: 0.6em;
  margin-right: 0.6em;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  margin-top: 3em;
}
