body {
  background-color: #fbfbf4;
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Libre Baskerville', serif;
}

.bg-image {
  margin: 0;
  padding: 250px 0;
  background: url('../../img/laptop_desk.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 240px;
  background-size: contain;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin: 0.2em;
}
.footer__links a {
  color: #9d9d9d;
  font-size: 1.2em;
  margin: 0.1em;
}
@media (min-width: 600px) {
  .footer__links {
    flex-direction: row;
    margin: 0.8em;

    a {
      margin-right: 1.5em;
    }
  }
}

