$width: 4.4em;
$height: 2.54em;
$hex-ba: 3.12em;
$transform: 0.49;
$ba: -1.56em;

.tech_container {
  /*border: 1px solid white;*/
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hexagon {
  position: relative;
  width: $width;
  height: $height;
  background-color: #515151;
  margin: 1em 0.3em;
  box-shadow: 0 0 1.25em rgba(0,0,0,0.6);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: $hex-ba;
  height: $hex-ba;
  -webkit-transform: scaleY($transform) rotate(-45deg);
  -ms-transform: scaleY($transform) rotate(-45deg);
  transform: scaleY($transform) rotate(-45deg);
  background-color: inherit;
  left: 0.732em;
  box-shadow: 0 0 1.25em rgba(0,0,0,0.6);
}

.hexagon:before {
  top: $ba;
}

.hexagon:after {
  bottom: $ba;
}

/*cover up extra shadows*/
.hexagon {
  span {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    z-index: 2;
    background: inherit;
    justify-content: center;
  }

  img {
    height: 100%;
  }
}

.top-row {
  display: flex;
}
.odd-row {
  display: flex;
  margin-top: -0.5em;
}
.even-row {
  display: flex;
  margin-top: -0.5em;
  margin-left: 4.8em;
}

.tech__container {
  display: flex;
  justify-content: center;
}

#html {
  height: 120%;
  margin: -0.4em 0.8em;
}
#css {
  height: 120%;
  margin: -0.4em 1.3em;
}
#bower {
  height: 110%;
  margin: -0.4em 1em;
}
#node {
  height: 150%;
  margin: -0.9em 0.3em;
}
#python {
  height: 120%;
  margin: -0.4em 0.8em;
}
#angular {
  height: 120%;
  margin: -0.2em 0.85em;
}
#git {
  height: 120%;
  margin: -0.3em 0.8em;
}
#github {
  height: 150%;
  margin: -0.8em 0.3em;
}
#handlebars {
  height: 110%;
  margin: 0.1em 0.4em;
}
#npm {
  height: 60%;
  margin: 0.6em 0.3em;
}
#bootstrap {
  height: 150%;
  margin: -0.7em 0.35em;
}
#sublime {
  height: 120%;
  margin: -0.3em 0.8em;
}
#illustrator {
  height: 100%;
  margin: 0 1.1em;
}
#codepen {
  height: 110%;
  margin: -0.2em 0.9em;
}
#trello {
  height: 45%;
  margin: 0.5em 0.2em;
}
#fiji {
  height: 110%;
  margin: 0em 0.9em;
}
#petrel {
  height: 100%;
  margin: 0 1.05em;
}
#petromod {
  height: 100%;
  margin: 0 1.05em;
}
#techlog {
  height: 100%;
  margin: 0 1.05em;
}
